<%- include('partials/head') %>


    <div class="container">
        <h1>You are browsing
            <%= name %>
        </h1>
        <h3>
            <%=description%>
        </h3>
        <hr>

        <% for(let post of posts){ %>
            <article>
                <p>
                    <%= post.title %> — <b><%= post.author %> </b>
                </p>

                <% if(post.img){ %>
                    <div>
                        <img src="<%= post.img %>" width=300px alt=" ">
                    </div>
                    <% } %>
            </article>
            <% } %>
    </div>
    </body>

    </html>